<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:#121220;">
    <h1 style="font-size:42px;text-align:center;color: white;margin-top: 5rem;margin-right: 25rem;">Welcome to your Digital Wallet</h1>
    <p>Where you can save your money</p>
    <div class="empty" style="border: solid 51px #7DDEE2;width:300px;height:300px;border-radius: 20rem;float: right;margin-left: -20rem;margin-top: -3rem;margin-right: 5rem;">
    <img src="/static/images/pot.png" style="width: 320px;margin-left: -4.5rem;">
</div>
</body>
</html>
